<section class="promo">
  <h2 class="promo__title">Нужен стафф для катки?</h2>
  <p class="promo__text">На нашем интернет-аукционе ты найдёшь самое эксклюзивное сноубордическое и горнолыжное
    снаряжение.</p>
  <ul class="promo__list">
    <% @categories.each do |category| %>
      <li class="promo__item promo__item--<%= category.slug %>">
        <a class="promo__link" href="all-lots.html"><%= category.name %></a>
      </li>
    <% end %>
  </ul>
</section>
<section class="lots">
  <div class="lots__header">
    <h2>Открытые лоты</h2>
  </div>
  <ul class="lots__list">
    <% @lots.each do |lot| %>
      <li class="lots__item lot">
        <div class="lot__image">
          <img src="<%= lot.image_url %>" width="350" height="260" alt="<%= lot.name %>">
        </div>
        <div class="lot__info">
          <span class="lot__category"><%= lot.category.name %></span>
          <h3 class="lot__title"><%= link_to lot.name, lot_path(lot), {class: "text-link"} %></h3>
          <div class="lot__state">
            <div class="lot__rate">
              <span class="lot__amount">Стартовая цена</span>
              <span class="lot__cost"><%= number_with_precision lot.start_price, {delimiter: " ", precision: 0} %>
                <b class="rub">р</b></span>
            </div>
            <div class="lot__timer timer"><%= lot.finish_date.to_s :short %></div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</section>
